# * * * * * /usr/local/bin/php /var/www/public_html/echoes_gift/current/artisan schedule:run >> /dev/null 2>&1
# * * * * * /usr/local/bin/php /var/www/public_html/echoes_ugc/current/artisan schedule:run >> /dev/null 2>&1

